<!DOCTYPE html>
<html>

<head>
	<title>QS</title>
	<script src="js/jquery-1.9.0.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/jquery.gridster.with-extras.js"></script>
	<script src="js/jquery.knob.js"></script>

	<link rel="stylesheet" type="text/css" href="css/jquery.gridster.min.css">
	<link rel="stylesheet" type="text/css" href="css/pure-min.css"> 
	<link rel="stylesheet" type="text/css" href="css/bootstarp-progress_bar.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/animate.min.css"> -->

	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"> 
	<link rel="stylesheet" type="text/css" href="css/glyphicons.css">
	<link rel="stylesheet" type="text/css" href="css/maki-sprite.css">

	<style type="text/css">
		body {
			background: #BFBFBF;
			color: #333;
			font-size: 13px;
		}

		.gridster {
			margin:auto;
			width: 80%;
			padding-top: 1em;
			left: -100%;
		}

		.gridster .gs_w {
			background: #FFF;			
			box-shadow: 0 0 5px rgba(0,0,0,0.3);
		}

		.gridster ul {
			list-style: none;
		}

		/* Widget box */ 
		.qs-box {}
		.qs-box-title { margin: 1em; }
		.qs-box-title span {
			color: #555;
			font-size: 80%;
			font-weight: normal;
		}
		.qs-box-content {
			color: #555;
			width: 90%;
			text-align: center;
			position: relative;
			margin:auto;
		}

		/* Circle meter widget */
		
		.qs-meter .meter-unit,
		.qs-meter .meter-value,
		.qs-meter .meter-desc, 
		.qs-meter .meter-icon {
			position: absolute;			
			width: 100%;
			left: 0;
			text-align: center;
		}
		.qs-meter .meter-icon {
			top: 50px;

			padding: 0;
		}
		.qs-meter .meter-icon i { 
			left:0;
						text-align: center;

			font-size: 42px; 
		}		

		.qs-meter .meter-unit {
			top: 95px;
			font-size: 12px;
		}		
		.qs-meter .meter-value {
			top: 110px;
			font-size: 150%;
			font-weight: bold;
		} 
		.qs-meter .meter-desc {
			top: 135px;
			font-size: 80%;
		}

		/* Widget upper control */ 
		.qs-box-controls {			
			text-align: right;
		}		
		.qs-box-controls a {
			width: 30%;
			text-align: center;
			padding-top: 0.4em;			
			font-size: 80%;
			font-weight: 600;	
			display: inline-block;						
			border-top: 5px solid transparent;
			text-decoration: none;
			color: #333;
		}
		.qs-box-controls a.ui-selecting { border-top-color: #1b98f8; }
		.qs-box-controls a.ui-selected { border-top-color: #878787; }		
		.qs-box-controls a:hover, 
		.qs-box-controls a:focus {
			color: #1b98f8;
			border-top-color: #1b98f8;
		}

		/* Nav menu */
		.header .pure-menu {
			border-bottom: 5px solid #CFCFCF;
		}
		.menu-profile {
			right: 1em;
			top: 1px;
			position: absolute;						
			padding-right: 1em;
		}
		.menu-profile a {
			display: inline-block;
		}
		
		.menu-profile-avatar {
			border-radius: 13px;
			text-align: right;
		}

	</style>
</head>

<body>
	<div class="container">
		<div class="header">
	        <div class="pure-menu pure-menu-open pure-menu-horizontal">	            
	            <a class="pure-menu-heading" href="">Life Tracker</a>	            
	            <ul>
	                <li class="pure-menu-selected"><a href="#">Home</a></li>
	                <li><a href="#">Blog</a></li>
	                <li><a href="#">About</a></li>

	            </ul>
               <div class="menu-profile">
	           		<a href="#">Tom  &#x25BE;</a>
	           		<img class="menu-profile-avatar" alt="Tilo Mitra's avatar" src="images/tom-avatar.png" height="26" width="26"></img>
               </div>
	        </div>
	    </div>

	    <div class="pure-g">
		<div class="pure-u-1">
			<div class="gridster" id="dashboard">
			<ul>
				<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
			    	<% include box/qs-user-profile %>
			    </li>
				<li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
					<% include box/qs-activity %>
				</li>
			    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
			    	<% include box/qs-calories %>
			    </li>
			    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
					<% include box/qs-distance %>					
			    </li>			   
				<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
					<% include box/qs-life-balance %>
			    </li>
			    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
			    	<% include box/qs-activities-breakedown %>
			    </li>
			    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
			    	<% include box/qs-recommendations %>
			    </li>
			     <li data-row="1" data-col="3" data-sizex="3" data-sizey="1">
			    	<% include box/qs-map %>		
			    </li>

<!-- 			    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
			    	<div class="qs-box pure-g">
			    		<div class="pure-u-1">
			    			<h4 class="qs-box-title">Your Top Apps</h4>
			    		</div>
			    	</div> 
			    </li>	 -->	

<!-- 				<li data-row="4" data-col="1" data-sizex="3" data-sizey="1">
					<% include box/qs-heatmap %>
				</li> -->


			</ul>
			</div>					
		</div>	
		<div>	
	</div>

<script type="text/javascript">

var animateKnob = function(elmId, startVal, stopVal, color) {
	var knobEl = $(elmId).find('.dial');
	var knobIcon = $(elmId).find('.meter-icon *');
	knobIcon.css('color', color);

    knobEl.knob({
    	'readOnly': true,
    	'displayInput': false,
    	'fgColor': color
    });

    $({ value: startVal }).animate({ value: stopVal }, {
      	duration: 1000,
      	easing: 'swing',
      	step: function() {
        	knobEl.val(Math.ceil(this.value)).trigger('change');
        	//$(elm).attr('fgColor', 'red').trigger('change');
      	}
    });
};

$(function(){ 
    $(".gridster ul").gridster({
        widget_margins: [5, 5],
        widget_base_dimensions: [200, 200]
    });
 	var gridster = $(".gridster ul").gridster().data('gridster');

 	//animate UI
 	$('.gridster').animate({
 		left: 0
 	}, 300);
 	// $('.gridster').css({left:0}).addClass('animated bounceInLeft');

 	// UI basic elements 
	$( "#qs-box-activity" ).selectable();
	$( "#qs-box-profile" ).selectable();

	setTimeout('listTick()', 300);
	setTimeout('listTick()', 4000);
});

</script>
</body>
</html>