html,
html .halflings {
  -webkit-font-smoothing: antialiased !important;
}
@font-face {
  font-family: 'Glyphicons';
  src: url('../font/glyphicons-regular.eot');
  src: url('../font/glyphicons-regular-0.eot#iefix') format('embedded-opentype'), url('../font/glyphicons-regular.woff') format('woff'), url('../font/glyphicons-regular.ttf') format('truetype'), url('../font/glyphicons-regular.svg#glyphicons_halflingsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="glyphicon-"] {
  display: inline-block;
  position: relative;
  padding: 5px 10px 5px 32px;
  color: #1d1d1b;
  text-decoration: none;
  *display: inline;
  *zoom: 1;
  font: 24px/1em 'Glyphicons';
  font-style: normal;
}
[class^="glyphicon-"]:before {
  position: absolute;
  left: 0;
  top: 0;
}
.glyphicon-white:before {
  color: #fff;
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-leaf:before {
  content: "\e002";
}
.glyphicon-dog:before {
  content: "\e003";
}
.glyphicon-user:before {
  content: "\e004";
}
.glyphicon-girl:before {
  content: "\e005";
}
.glyphicon-car:before {
  content: "\e006";
}
.glyphicon-user_add:before {
  content: "\e007";
}
.glyphicon-user_remove:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-magic:before {
  content: "\e010";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-camera:before {
  content: "\e012";
}
.glyphicon-heart:before {
  content: "\e013";
}
.glyphicon-beach_umbrella:before {
  content: "\e014";
}
.glyphicon-train:before {
  content: "\e015";
}
.glyphicon-print:before {
  content: "\e016";
}
.glyphicon-bin:before {
  content: "\e017";
}
.glyphicon-music:before {
  content: "\e018";
}
.glyphicon-note:before {
  content: "\e019";
}
.glyphicon-heart_empty:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-snowflake:before {
  content: "\2744";
}
.glyphicon-fire:before {
  content: "\e023";
}
.glyphicon-magnet:before {
  content: "\e024";
}
.glyphicon-parents:before {
  content: "\e025";
}
.glyphicon-binoculars:before {
  content: "\e026";
}
.glyphicon-road:before {
  content: "\e027";
}
.glyphicon-search:before {
  content: "\e028";
}
.glyphicon-cars:before {
  content: "\e029";
}
.glyphicon-notes_2:before {
  content: "\e030";
}
.glyphicon-pencil:before {
  content: "\270F";
}
.glyphicon-bus:before {
  content: "\e032";
}
.glyphicon-wifi_alt:before {
  content: "\e033";
}
.glyphicon-luggage:before {
  content: "\e034";
}
.glyphicon-old_man:before {
  content: "\e035";
}
.glyphicon-woman:before {
  content: "\e036";
}
.glyphicon-file:before {
  content: "\e037";
}
.glyphicon-coins:before {
  content: "\e038";
}
.glyphicon-airplane:before {
  content: "\2708";
}
.glyphicon-notes:before {
  content: "\e040";
}
.glyphicon-stats:before {
  content: "\e041";
}
.glyphicon-charts:before {
  content: "\e042";
}
.glyphicon-pie_chart:before {
  content: "\e043";
}
.glyphicon-group:before {
  content: "\e044";
}
.glyphicon-keys:before {
  content: "\e045";
}
.glyphicon-calendar:before {
  content: "\e046";
}
.glyphicon-router:before {
  content: "\e047";
}
.glyphicon-camera_small:before {
  content: "\e048";
}
.glyphicon-dislikes:before {
  content: "\e049";
}
.glyphicon-star:before {
  content: "\e050";
}
.glyphicon-link:before {
  content: "\e051";
}
.glyphicon-eye_open:before {
  content: "\e052";
}
.glyphicon-eye_close:before {
  content: "\e053";
}
.glyphicon-alarm:before {
  content: "\e054";
}
.glyphicon-clock:before {
  content: "\e055";
}
.glyphicon-stopwatch:before {
  content: "\e056";
}
.glyphicon-projector:before {
  content: "\e057";
}
.glyphicon-history:before {
  content: "\e058";
}
.glyphicon-truck:before {
  content: "\e059";
}
.glyphicon-cargo:before {
  content: "\e060";
}
.glyphicon-compass:before {
  content: "\e061";
}
.glyphicon-keynote:before {
  content: "\e062";
}
.glyphicon-paperclip:before {
  content: "\e063";
}
.glyphicon-power:before {
  content: "\e064";
}
.glyphicon-lightbulb:before {
  content: "\e065";
}
.glyphicon-tag:before {
  content: "\e066";
}
.glyphicon-tags:before {
  content: "\e067";
}
.glyphicon-cleaning:before {
  content: "\e068";
}
.glyphicon-ruller:before {
  content: "\e069";
}
.glyphicon-gift:before {
  content: "\e070";
}
.glyphicon-umbrella:before {
  content: "\2602";
}
.glyphicon-book:before {
  content: "\e072";
}
.glyphicon-bookmark:before {
  content: "\e073";
}
.glyphicon-wifi:before {
  content: "\e074";
}
.glyphicon-cup:before {
  content: "\e075";
}
.glyphicon-stroller:before {
  content: "\e076";
}
.glyphicon-headphones:before {
  content: "\e077";
}
.glyphicon-headset:before {
  content: "\e078";
}
.glyphicon-warning_sign:before {
  content: "\e079";
}
.glyphicon-signal:before {
  content: "\e080";
}
.glyphicon-retweet:before {
  content: "\e081";
}
.glyphicon-refresh:before {
  content: "\e082";
}
.glyphicon-roundabout:before {
  content: "\e083";
}
.glyphicon-random:before {
  content: "\e084";
}
.glyphicon-heat:before {
  content: "\e085";
}
.glyphicon-repeat:before {
  content: "\e086";
}
.glyphicon-display:before {
  content: "\e087";
}
.glyphicon-log_book:before {
  content: "\e088";
}
.glyphicon-adress_book:before {
  content: "\e089";
}
.glyphicon-building:before {
  content: "\e090";
}
.glyphicon-eyedropper:before {
  content: "\e091";
}
.glyphicon-adjust:before {
  content: "\e092";
}
.glyphicon-tint:before {
  content: "\e093";
}
.glyphicon-crop:before {
  content: "\e094";
}
.glyphicon-vector_path_square:before {
  content: "\e095";
}
.glyphicon-vector_path_circle:before {
  content: "\e096";
}
.glyphicon-vector_path_polygon:before {
  content: "\e097";
}
.glyphicon-vector_path_line:before {
  content: "\e098";
}
.glyphicon-vector_path_curve:before {
  content: "\e099";
}
.glyphicon-vector_path_all:before {
  content: "\e100";
}
.glyphicon-font:before {
  content: "\e101";
}
.glyphicon-italic:before {
  content: "\e102";
}
.glyphicon-bold:before {
  content: "\e103";
}
.glyphicon-text_underline:before {
  content: "\e104";
}
.glyphicon-text_strike:before {
  content: "\e105";
}
.glyphicon-text_height:before {
  content: "\e106";
}
.glyphicon-text_width:before {
  content: "\e107";
}
.glyphicon-text_resize:before {
  content: "\e108";
}
.glyphicon-left_indent:before {
  content: "\e109";
}
.glyphicon-right_indent:before {
  content: "\e110";
}
.glyphicon-align_left:before {
  content: "\e111";
}
.glyphicon-align_center:before {
  content: "\e112";
}
.glyphicon-align_right:before {
  content: "\e113";
}
.glyphicon-justify:before {
  content: "\e114";
}
.glyphicon-list:before {
  content: "\e115";
}
.glyphicon-text_smaller:before {
  content: "\e116";
}
.glyphicon-text_bigger:before {
  content: "\e117";
}
.glyphicon-embed:before {
  content: "\e118";
}
.glyphicon-embed_close:before {
  content: "\e119";
}
.glyphicon-table:before {
  content: "\e120";
}
.glyphicon-message_full:before {
  content: "\e121";
}
.glyphicon-message_empty:before {
  content: "\e122";
}
.glyphicon-message_in:before {
  content: "\e123";
}
.glyphicon-message_out:before {
  content: "\e124";
}
.glyphicon-message_plus:before {
  content: "\e125";
}
.glyphicon-message_minus:before {
  content: "\e126";
}
.glyphicon-message_ban:before {
  content: "\e127";
}
.glyphicon-message_flag:before {
  content: "\e128";
}
.glyphicon-message_lock:before {
  content: "\e129";
}
.glyphicon-message_new:before {
  content: "\e130";
}
.glyphicon-inbox:before {
  content: "\e131";
}
.glyphicon-inbox_plus:before {
  content: "\e132";
}
.glyphicon-inbox_minus:before {
  content: "\e133";
}
.glyphicon-inbox_lock:before {
  content: "\e134";
}
.glyphicon-inbox_in:before {
  content: "\e135";
}
.glyphicon-inbox_out:before {
  content: "\e136";
}
.glyphicon-cogwheel:before {
  content: "\e137";
}
.glyphicon-cogwheels:before {
  content: "\e138";
}
.glyphicon-picture:before {
  content: "\e139";
}
.glyphicon-adjust_alt:before {
  content: "\e140";
}
.glyphicon-database_lock:before {
  content: "\e141";
}
.glyphicon-database_plus:before {
  content: "\e142";
}
.glyphicon-database_minus:before {
  content: "\e143";
}
.glyphicon-database_ban:before {
  content: "\e144";
}
.glyphicon-folder_open:before {
  content: "\e145";
}
.glyphicon-folder_plus:before {
  content: "\e146";
}
.glyphicon-folder_minus:before {
  content: "\e147";
}
.glyphicon-folder_lock:before {
  content: "\e148";
}
.glyphicon-folder_flag:before {
  content: "\e149";
}
.glyphicon-folder_new:before {
  content: "\e150";
}
.glyphicon-edit:before {
  content: "\e151";
}
.glyphicon-new_window:before {
  content: "\e152";
}
.glyphicon-check:before {
  content: "\e153";
}
.glyphicon-unchecked:before {
  content: "\e154";
}
.glyphicon-more_windows:before {
  content: "\e155";
}
.glyphicon-show_big_thumbnails:before {
  content: "\e156";
}
.glyphicon-show_thumbnails:before {
  content: "\e157";
}
.glyphicon-show_thumbnails_with_lines:before {
  content: "\e158";
}
.glyphicon-show_lines:before {
  content: "\e159";
}
.glyphicon-playlist:before {
  content: "\e160";
}
.glyphicon-imac:before {
  content: "\e161";
}
.glyphicon-macbook:before {
  content: "\e162";
}
.glyphicon-ipad:before {
  content: "\e163";
}
.glyphicon-iphone:before {
  content: "\e164";
}
.glyphicon-iphone_transfer:before {
  content: "\e165";
}
.glyphicon-iphone_exchange:before {
  content: "\e166";
}
.glyphicon-ipod:before {
  content: "\e167";
}
.glyphicon-ipod_shuffle:before {
  content: "\e168";
}
.glyphicon-ear_plugs:before {
  content: "\e169";
}
.glyphicon-phone:before {
  content: "\e170";
}
.glyphicon-step_backward:before {
  content: "\e171";
}
.glyphicon-fast_backward:before {
  content: "\e172";
}
.glyphicon-rewind:before {
  content: "\e173";
}
.glyphicon-play:before {
  content: "\e174";
}
.glyphicon-pause:before {
  content: "\e175";
}
.glyphicon-stop:before {
  content: "\e176";
}
.glyphicon-forward:before {
  content: "\e177";
}
.glyphicon-fast_forward:before {
  content: "\e178";
}
.glyphicon-step_forward:before {
  content: "\e179";
}
.glyphicon-eject:before {
  content: "\e180";
}
.glyphicon-facetime_video:before {
  content: "\e181";
}
.glyphicon-download_alt:before {
  content: "\e182";
}
.glyphicon-mute:before {
  content: "\e183";
}
.glyphicon-volume_down:before {
  content: "\e184";
}
.glyphicon-volume_up:before {
  content: "\e185";
}
.glyphicon-screenshot:before {
  content: "\e186";
}
.glyphicon-move:before {
  content: "\e187";
}
.glyphicon-more:before {
  content: "\e188";
}
.glyphicon-brightness_reduce:before {
  content: "\e189";
}
.glyphicon-brightness_increase:before {
  content: "\e190";
}
.glyphicon-circle_plus:before {
  content: "\e191";
}
.glyphicon-circle_minus:before {
  content: "\e192";
}
.glyphicon-circle_remove:before {
  content: "\e193";
}
.glyphicon-circle_ok:before {
  content: "\e194";
}
.glyphicon-circle_question_mark:before {
  content: "\e195";
}
.glyphicon-circle_info:before {
  content: "\e196";
}
.glyphicon-circle_exclamation_mark:before {
  content: "\e197";
}
.glyphicon-remove:before {
  content: "\e198";
}
.glyphicon-ok:before {
  content: "\e199";
}
.glyphicon-ban:before {
  content: "\e200";
}
.glyphicon-download:before {
  content: "\e201";
}
.glyphicon-upload:before {
  content: "\e202";
}
.glyphicon-shopping_cart:before {
  content: "\e203";
}
.glyphicon-lock:before {
  content: "\e204";
}
.glyphicon-unlock:before {
  content: "\e205";
}
.glyphicon-electricity:before {
  content: "\e206";
}
.glyphicon-ok_2:before {
  content: "\e207";
}
.glyphicon-remove_2:before {
  content: "\e208";
}
.glyphicon-cart_out:before {
  content: "\e209";
}
.glyphicon-cart_in:before {
  content: "\e210";
}
.glyphicon-left_arrow:before {
  content: "\e211";
}
.glyphicon-right_arrow:before {
  content: "\e212";
}
.glyphicon-down_arrow:before {
  content: "\e213";
}
.glyphicon-up_arrow:before {
  content: "\e214";
}
.glyphicon-resize_small:before {
  content: "\e215";
}
.glyphicon-resize_full:before {
  content: "\e216";
}
.glyphicon-circle_arrow_left:before {
  content: "\e217";
}
.glyphicon-circle_arrow_right:before {
  content: "\e218";
}
.glyphicon-circle_arrow_top:before {
  content: "\e219";
}
.glyphicon-circle_arrow_down:before {
  content: "\e220";
}
.glyphicon-play_button:before {
  content: "\e221";
}
.glyphicon-unshare:before {
  content: "\e222";
}
.glyphicon-share:before {
  content: "\e223";
}
.glyphicon-chevron-right:before {
  content: "\e224";
}
.glyphicon-chevron-left:before {
  content: "\e225";
}
.glyphicon-bluetooth:before {
  content: "\e226";
}
.glyphicon-euro:before {
  content: "\20AC";
}
.glyphicon-usd:before {
  content: "\e228";
}
.glyphicon-gbp:before {
  content: "\e229";
}
.glyphicon-retweet_2:before {
  content: "\e230";
}
.glyphicon-moon:before {
  content: "\e231";
}
.glyphicon-sun:before {
  content: "\2609";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-direction:before {
  content: "\e234";
}
.glyphicon-brush:before {
  content: "\e235";
}
.glyphicon-pen:before {
  content: "\e236";
}
.glyphicon-zoom_in:before {
  content: "\e237";
}
.glyphicon-zoom_out:before {
  content: "\e238";
}
.glyphicon-pin:before {
  content: "\e239";
}
.glyphicon-albums:before {
  content: "\e240";
}
.glyphicon-rotation_lock:before {
  content: "\e241";
}
.glyphicon-flash:before {
  content: "\e242";
}
.glyphicon-google_maps:before {
  content: "\e243";
}
.glyphicon-anchor:before {
  content: "\2693";
}
.glyphicon-conversation:before {
  content: "\e245";
}
.glyphicon-chat:before {
  content: "\e246";
}
.glyphicon-male:before {
  content: "\e247";
}
.glyphicon-female:before {
  content: "\e248";
}
.glyphicon-asterisk:before {
  content: "\002A";
}
.glyphicon-divide:before {
  content: "\00F7";
}
.glyphicon-snorkel_diving:before {
  content: "\e251";
}
.glyphicon-scuba_diving:before {
  content: "\e252";
}
.glyphicon-oxygen_bottle:before {
  content: "\e253";
}
.glyphicon-fins:before {
  content: "\e254";
}
.glyphicon-fishes:before {
  content: "\e255";
}
.glyphicon-boat:before {
  content: "\e256";
}
.glyphicon-delete:before {
  content: "\e257";
}
.glyphicon-sheriffs_star:before {
  content: "\e258";
}
.glyphicon-qrcode:before {
  content: "\e259";
}
.glyphicon-barcode:before {
  content: "\e260";
}
.glyphicon-pool:before {
  content: "\e261";
}
.glyphicon-buoy:before {
  content: "\e262";
}
.glyphicon-spade:before {
  content: "\e263";
}
.glyphicon-bank:before {
  content: "\e264";
}
.glyphicon-vcard:before {
  content: "\e265";
}
.glyphicon-electrical_plug:before {
  content: "\e266";
}
.glyphicon-flag:before {
  content: "\e267";
}
.glyphicon-credit_card:before {
  content: "\e268";
}
.glyphicon-keyboard-wireless:before {
  content: "\e269";
}
.glyphicon-keyboard-wired:before {
  content: "\e270";
}
.glyphicon-shield:before {
  content: "\e271";
}
.glyphicon-ring:before {
  content: "\02DA";
}
.glyphicon-cake:before {
  content: "\e273";
}
.glyphicon-drink:before {
  content: "\e274";
}
.glyphicon-beer:before {
  content: "\e275";
}
.glyphicon-fast_food:before {
  content: "\e276";
}
.glyphicon-cutlery:before {
  content: "\e277";
}
.glyphicon-pizza:before {
  content: "\e278";
}
.glyphicon-birthday_cake:before {
  content: "\e279";
}
.glyphicon-tablet:before {
  content: "\e280";
}
.glyphicon-settings:before {
  content: "\e281";
}
.glyphicon-bullets:before {
  content: "\e282";
}
.glyphicon-cardio:before {
  content: "\e283";
}
.glyphicon-t-shirt:before {
  content: "\e284";
}
.glyphicon-pants:before {
  content: "\e285";
}
.glyphicon-sweater:before {
  content: "\e286";
}
.glyphicon-fabric:before {
  content: "\e287";
}
.glyphicon-leather:before {
  content: "\e288";
}
.glyphicon-scissors:before {
  content: "\e289";
}
.glyphicon-bomb:before {
  content: "\e290";
}
.glyphicon-skull:before {
  content: "\e291";
}
.glyphicon-celebration:before {
  content: "\e292";
}
.glyphicon-tea_kettle:before {
  content: "\e293";
}
.glyphicon-french_press:before {
  content: "\e294";
}
.glyphicon-coffe_cup:before {
  content: "\e295";
}
.glyphicon-pot:before {
  content: "\e296";
}
.glyphicon-grater:before {
  content: "\e297";
}
.glyphicon-kettle:before {
  content: "\e298";
}
.glyphicon-hospital:before {
  content: "\e299";
}
.glyphicon-hospital_h:before {
  content: "\e300";
}
.glyphicon-microphone:before {
  content: "\e301";
}
.glyphicon-webcam:before {
  content: "\e302";
}
.glyphicon-temple_christianity_church:before {
  content: "\e303";
}
.glyphicon-temple_islam:before {
  content: "\e304";
}
.glyphicon-temple_hindu:before {
  content: "\e305";
}
.glyphicon-temple_buddhist:before {
  content: "\e306";
}
.glyphicon-bicycle:before {
  content: "\e307";
}
.glyphicon-life_preserver:before {
  content: "\e308";
}
.glyphicon-share_alt:before {
  content: "\e309";
}
.glyphicon-comments:before {
  content: "\e310";
}
.glyphicon-flower:before {
  content: "\2698";
}
.glyphicon-baseball:before {
  content: "\e312";
}
.glyphicon-rugby:before {
  content: "\e313";
}
.glyphicon-ax:before {
  content: "\e314";
}
.glyphicon-table_tennis:before {
  content: "\e315";
}
.glyphicon-bowling:before {
  content: "\e316";
}
.glyphicon-tree_conifer:before {
  content: "\e317";
}
.glyphicon-tree_deciduous:before {
  content: "\e318";
}
.glyphicon-more_items:before {
  content: "\e319";
}
.glyphicon-sort:before {
  content: "\e320";
}
.glyphicon-filter:before {
  content: "\e321";
}
.glyphicon-gamepad:before {
  content: "\e322";
}
.glyphicon-playing_dices:before {
  content: "\e323";
}
.glyphicon-calculator:before {
  content: "\e324";
}
.glyphicon-tie:before {
  content: "\e325";
}
.glyphicon-wallet:before {
  content: "\e326";
}
.glyphicon-piano:before {
  content: "\e327";
}
.glyphicon-sampler:before {
  content: "\e328";
}
.glyphicon-podium:before {
  content: "\e329";
}
.glyphicon-soccer_ball:before {
  content: "\e330";
}
.glyphicon-blog:before {
  content: "\e331";
}
.glyphicon-dashboard:before {
  content: "\e332";
}
.glyphicon-certificate:before {
  content: "\e333";
}
.glyphicon-bell:before {
  content: "\e334";
}
.glyphicon-candle:before {
  content: "\e335";
}
.glyphicon-pushpin:before {
  content: "\e336";
}
.glyphicon-iphone_shake:before {
  content: "\e337";
}
.glyphicon-pin_flag:before {
  content: "\e338";
}
.glyphicon-turtle:before {
  content: "\e339";
}
.glyphicon-rabbit:before {
  content: "\e340";
}
.glyphicon-globe:before {
  content: "\e341";
}
.glyphicon-briefcase:before {
  content: "\e342";
}
.glyphicon-hdd:before {
  content: "\e343";
}
.glyphicon-thumbs_up:before {
  content: "\e344";
}
.glyphicon-thumbs_down:before {
  content: "\e345";
}
.glyphicon-hand_right:before {
  content: "\e346";
}
.glyphicon-hand_left:before {
  content: "\e347";
}
.glyphicon-hand_up:before {
  content: "\e348";
}
.glyphicon-hand_down:before {
  content: "\e349";
}
.glyphicon-fullscreen:before {
  content: "\e350";
}
.glyphicon-shopping_bag:before {
  content: "\e351";
}
.glyphicon-book_open:before {
  content: "\e352";
}
.glyphicon-nameplate:before {
  content: "\e353";
}
.glyphicon-nameplate_alt:before {
  content: "\e354";
}
.glyphicon-vases:before {
  content: "\e355";
}
.glyphicon-bullhorn:before {
  content: "\e356";
}
.glyphicon-dumbbell:before {
  content: "\e357";
}
.glyphicon-suitcase:before {
  content: "\e358";
}
.glyphicon-file_import:before {
  content: "\e359";
}
.glyphicon-file_export:before {
  content: "\e360";
}
.glyphicon-bug:before {
  content: "\e361";
}
.glyphicon-crown:before {
  content: "\e362";
}
.glyphicon-smoking:before {
  content: "\e363";
}
.glyphicon-cloud-upload:before {
  content: "\e364";
}
.glyphicon-cloud-download:before {
  content: "\e365";
}
.glyphicon-restart:before {
  content: "\e366";
}
.glyphicon-security_camera:before {
  content: "\e367";
}
.glyphicon-expand:before {
  content: "\e368";
}
.glyphicon-collapse:before {
  content: "\e369";
}
.glyphicon-collapse_top:before {
  content: "\e370";
}
.glyphicon-globe_af:before {
  content: "\e371";
}
.glyphicon-global:before {
  content: "\e372";
}
.glyphicon-spray:before {
  content: "\e373";
}
.glyphicon-nails:before {
  content: "\e374";
}
.glyphicon-claw_hammer:before {
  content: "\e375";
}
.glyphicon-classic_hammer:before {
  content: "\e376";
}
.glyphicon-hand_saw:before {
  content: "\e377";
}
.glyphicon-riflescope:before {
  content: "\e378";
}
.glyphicon-electrical_socket_eu:before {
  content: "\e379";
}
.glyphicon-electrical_socket_us:before {
  content: "\e380";
}
.glyphicon-pinterest:before {
  content: "\e381";
}
.glyphicon-dropbox:before {
  content: "\e382";
}
.glyphicon-google_plus:before {
  content: "\e383";
}
.glyphicon-jolicloud:before {
  content: "\e384";
}
.glyphicon-yahoo:before {
  content: "\e385";
}
.glyphicon-blogger:before {
  content: "\e386";
}
.glyphicon-picasa:before {
  content: "\e387";
}
.glyphicon-amazon:before {
  content: "\e388";
}
.glyphicon-tumblr:before {
  content: "\e389";
}
.glyphicon-wordpress:before {
  content: "\e390";
}
.glyphicon-instapaper:before {
  content: "\e391";
}
.glyphicon-evernote:before {
  content: "\e392";
}
.glyphicon-xing:before {
  content: "\e393";
}
.glyphicon-zootool:before {
  content: "\e394";
}
.glyphicon-dribbble:before {
  content: "\e395";
}
.glyphicon-deviantart:before {
  content: "\e396";
}
.glyphicon-read_it_later:before {
  content: "\e397";
}
.glyphicon-linked_in:before {
  content: "\e398";
}
.glyphicon-forrst:before {
  content: "\e399";
}
.glyphicon-pinboard:before {
  content: "\e400";
}
.glyphicon-behance:before {
  content: "\e401";
}
.glyphicon-github:before {
  content: "\e402";
}
.glyphicon-youtube:before {
  content: "\e403";
}
.glyphicon-skitch:before {
  content: "\e404";
}
.glyphicon-foursquare:before {
  content: "\e405";
}
.glyphicon-quora:before {
  content: "\e406";
}
.glyphicon-badoo:before {
  content: "\e407";
}
.glyphicon-spotify:before {
  content: "\e408";
}
.glyphicon-stumbleupon:before {
  content: "\e409";
}
.glyphicon-readability:before {
  content: "\e410";
}
.glyphicon-facebook:before {
  content: "\e411";
}
.glyphicon-twitter:before {
  content: "\e412";
}
.glyphicon-instagram:before {
  content: "\e413";
}
.glyphicon-posterous_spaces:before {
  content: "\e414";
}
.glyphicon-vimeo:before {
  content: "\e415";
}
.glyphicon-flickr:before {
  content: "\e416";
}
.glyphicon-last_fm:before {
  content: "\e417";
}
.glyphicon-rss:before {
  content: "\e418";
}
.glyphicon-skype:before {
  content: "\e419";
}
.glyphicon-e-mail:before {
  content: "\e420";
}

.glyphicon-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  vertical-align: text-top;
  background-image: url(../img/glyphicons.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  *margin-right: .3em;
}
.no-inlinesvg .glyphicon-icon {
  background-image: url(../img/glyphicons.png);
}
.glyphicon-icon.white {
  background-image: url(../img/glyphicons-white.svg);
}
.no-inlinesvg .glyphicon-icon.white {
  background-image: url(../img/glyphicons-white.png);
}
.glyphicon-icon.glass {
  background-position: 4px 11px;
}
.glyphicon-icon.leaf {
  background-position: -44px 11px;
}
.glyphicon-icon.dog {
  background-position: -92px 11px;
}
.glyphicon-icon.user {
  background-position: -140px 11px;
}
.glyphicon-icon.girl {
  background-position: -188px 11px;
}
.glyphicon-icon.car {
  background-position: -236px 11px;
}
.glyphicon-icon.user_add {
  background-position: -284px 11px;
}
.glyphicon-icon.user_remove {
  background-position: -332px 11px;
}
.glyphicon-icon.film {
  background-position: -380px 11px;
}
.glyphicon-icon.magic {
  background-position: -428px 11px;
}
.glyphicon-icon.envelope {
  background-position: 4px -37px;
}
.glyphicon-icon.camera {
  background-position: -44px -37px;
}
.glyphicon-icon.heart {
  background-position: -92px -37px;
}
.glyphicon-icon.beach_umbrella {
  background-position: -140px -37px;
}
.glyphicon-icon.train {
  background-position: -188px -37px;
}
.glyphicon-icon.print {
  background-position: -236px -37px;
}
.glyphicon-icon.bin {
  background-position: -284px -37px;
}
.glyphicon-icon.music {
  background-position: -332px -37px;
}
.glyphicon-icon.note {
  background-position: -380px -37px;
}
.glyphicon-icon.heart_empty {
  background-position: -428px -37px;
}
.glyphicon-icon.home {
  background-position: 4px -85px;
}
.glyphicon-icon.snowflake {
  background-position: -44px -85px;
}
.glyphicon-icon.fire {
  background-position: -92px -85px;
}
.glyphicon-icon.magnet {
  background-position: -140px -85px;
}
.glyphicon-icon.parents {
  background-position: -188px -85px;
}
.glyphicon-icon.binoculars {
  background-position: -236px -85px;
}
.glyphicon-icon.road {
  background-position: -284px -85px;
}
.glyphicon-icon.search {
  background-position: -332px -85px;
}
.glyphicon-icon.cars {
  background-position: -380px -85px;
}
.glyphicon-icon.notes_2 {
  background-position: -428px -85px;
}
.glyphicon-icon.pencil {
  background-position: 4px -133px;
}
.glyphicon-icon.bus {
  background-position: -44px -133px;
}
.glyphicon-icon.wifi_alt {
  background-position: -92px -133px;
}
.glyphicon-icon.luggage {
  background-position: -140px -133px;
}
.glyphicon-icon.old_man {
  background-position: -188px -133px;
}
.glyphicon-icon.woman {
  background-position: -236px -133px;
}
.glyphicon-icon.file {
  background-position: -284px -133px;
}
.glyphicon-icon.coins {
  background-position: -332px -133px;
}
.glyphicon-icon.airplane {
  background-position: -380px -133px;
}
.glyphicon-icon.notes {
  background-position: -428px -133px;
}
.glyphicon-icon.stats {
  background-position: 4px -181px;
}
.glyphicon-icon.charts {
  background-position: -44px -181px;
}
.glyphicon-icon.pie_chart {
  background-position: -92px -181px;
}
.glyphicon-icon.group {
  background-position: -140px -181px;
}
.glyphicon-icon.keys {
  background-position: -188px -181px;
}
.glyphicon-icon.calendar {
  background-position: -236px -181px;
}
.glyphicon-icon.router {
  background-position: -284px -181px;
}
.glyphicon-icon.camera_small {
  background-position: -332px -181px;
}
.glyphicon-icon.dislikes {
  background-position: -380px -181px;
}
.glyphicon-icon.star {
  background-position: -428px -181px;
}
.glyphicon-icon.link {
  background-position: 4px -229px;
}
.glyphicon-icon.eye_open {
  background-position: -44px -229px;
}
.glyphicon-icon.eye_close {
  background-position: -92px -229px;
}
.glyphicon-icon.alarm {
  background-position: -140px -229px;
}
.glyphicon-icon.clock {
  background-position: -188px -229px;
}
.glyphicon-icon.stopwatch {
  background-position: -236px -229px;
}
.glyphicon-icon.projector {
  background-position: -284px -229px;
}
.glyphicon-icon.history {
  background-position: -332px -229px;
}
.glyphicon-icon.truck {
  background-position: -380px -229px;
}
.glyphicon-icon.cargo {
  background-position: -428px -229px;
}
.glyphicon-icon.compass {
  background-position: 4px -277px;
}
.glyphicon-icon.keynote {
  background-position: -44px -277px;
}
.glyphicon-icon.paperclip {
  background-position: -92px -277px;
}
.glyphicon-icon.power {
  background-position: -140px -277px;
}
.glyphicon-icon.lightbulb {
  background-position: -188px -277px;
}
.glyphicon-icon.tag {
  background-position: -236px -277px;
}
.glyphicon-icon.tags {
  background-position: -284px -277px;
}
.glyphicon-icon.cleaning {
  background-position: -332px -277px;
}
.glyphicon-icon.ruller {
  background-position: -380px -277px;
}
.glyphicon-icon.gift {
  background-position: -428px -277px;
}
.glyphicon-icon.umbrella {
  background-position: 4px -325px;
}
.glyphicon-icon.book {
  background-position: -44px -325px;
}
.glyphicon-icon.bookmark {
  background-position: -92px -325px;
}
.glyphicon-icon.wifi {
  background-position: -140px -325px;
}
.glyphicon-icon.cup {
  background-position: -188px -325px;
}
.glyphicon-icon.stroller {
  background-position: -236px -325px;
}
.glyphicon-icon.headphones {
  background-position: -284px -325px;
}
.glyphicon-icon.headset {
  background-position: -332px -325px;
}
.glyphicon-icon.warning_sign {
  background-position: -380px -325px;
}
.glyphicon-icon.signal {
  background-position: -428px -325px;
}
.glyphicon-icon.retweet {
  background-position: 4px -373px;
}
.glyphicon-icon.refresh {
  background-position: -44px -373px;
}
.glyphicon-icon.roundabout {
  background-position: -92px -373px;
}
.glyphicon-icon.random {
  background-position: -140px -373px;
}
.glyphicon-icon.heat {
  background-position: -188px -373px;
}
.glyphicon-icon.repeat {
  background-position: -236px -373px;
}
.glyphicon-icon.display {
  background-position: -284px -373px;
}
.glyphicon-icon.log_book {
  background-position: -332px -373px;
}
.glyphicon-icon.adress_book {
  background-position: -380px -373px;
}
.glyphicon-icon.building {
  background-position: -428px -373px;
}
.glyphicon-icon.eyedropper {
  background-position: 4px -421px;
}
.glyphicon-icon.adjust {
  background-position: -44px -421px;
}
.glyphicon-icon.tint {
  background-position: -92px -421px;
}
.glyphicon-icon.crop {
  background-position: -140px -421px;
}
.glyphicon-icon.vector_path_square {
  background-position: -188px -421px;
}
.glyphicon-icon.vector_path_circle {
  background-position: -236px -421px;
}
.glyphicon-icon.vector_path_polygon {
  background-position: -284px -421px;
}
.glyphicon-icon.vector_path_line {
  background-position: -332px -421px;
}
.glyphicon-icon.vector_path_curve {
  background-position: -380px -421px;
}
.glyphicon-icon.vector_path_all {
  background-position: -428px -421px;
}
.glyphicon-icon.font {
  background-position: 4px -469px;
}
.glyphicon-icon.italic {
  background-position: -44px -469px;
}
.glyphicon-icon.bold {
  background-position: -92px -469px;
}
.glyphicon-icon.text_underline {
  background-position: -140px -469px;
}
.glyphicon-icon.text_strike {
  background-position: -188px -469px;
}
.glyphicon-icon.text_height {
  background-position: -236px -469px;
}
.glyphicon-icon.text_width {
  background-position: -284px -469px;
}
.glyphicon-icon.text_resize {
  background-position: -332px -469px;
}
.glyphicon-icon.left_indent {
  background-position: -380px -469px;
}
.glyphicon-icon.right_indent {
  background-position: -428px -469px;
}
.glyphicon-icon.align_left {
  background-position: 4px -517px;
}
.glyphicon-icon.align_center {
  background-position: -44px -517px;
}
.glyphicon-icon.align_right {
  background-position: -92px -517px;
}
.glyphicon-icon.justify {
  background-position: -140px -517px;
}
.glyphicon-icon.list {
  background-position: -188px -517px;
}
.glyphicon-icon.text_smaller {
  background-position: -236px -517px;
}
.glyphicon-icon.text_bigger {
  background-position: -284px -517px;
}
.glyphicon-icon.embed {
  background-position: -332px -517px;
}
.glyphicon-icon.embed_close {
  background-position: -380px -517px;
}
.glyphicon-icon.table {
  background-position: -428px -517px;
}
.glyphicon-icon.message_full {
  background-position: 4px -565px;
}
.glyphicon-icon.message_empty {
  background-position: -44px -565px;
}
.glyphicon-icon.message_in {
  background-position: -92px -565px;
}
.glyphicon-icon.message_out {
  background-position: -140px -565px;
}
.glyphicon-icon.message_plus {
  background-position: -188px -565px;
}
.glyphicon-icon.message_minus {
  background-position: -236px -565px;
}
.glyphicon-icon.message_ban {
  background-position: -284px -565px;
}
.glyphicon-icon.message_flag {
  background-position: -332px -565px;
}
.glyphicon-icon.message_lock {
  background-position: -380px -565px;
}
.glyphicon-icon.message_new {
  background-position: -428px -565px;
}
.glyphicon-icon.inbox {
  background-position: 4px -613px;
}
.glyphicon-icon.inbox_plus {
  background-position: -44px -613px;
}
.glyphicon-icon.inbox_minus {
  background-position: -92px -613px;
}
.glyphicon-icon.inbox_lock {
  background-position: -140px -613px;
}
.glyphicon-icon.inbox_in {
  background-position: -188px -613px;
}
.glyphicon-icon.inbox_out {
  background-position: -236px -613px;
}
.glyphicon-icon.cogwheel {
  background-position: -284px -613px;
}
.glyphicon-icon.cogwheels {
  background-position: -332px -613px;
}
.glyphicon-icon.picture {
  background-position: -380px -613px;
}
.glyphicon-icon.adjust_alt {
  background-position: -428px -613px;
}
.glyphicon-icon.database_lock {
  background-position: 4px -661px;
}
.glyphicon-icon.database_plus {
  background-position: -44px -661px;
}
.glyphicon-icon.database_minus {
  background-position: -92px -661px;
}
.glyphicon-icon.database_ban {
  background-position: -140px -661px;
}
.glyphicon-icon.folder_open {
  background-position: -188px -661px;
}
.glyphicon-icon.folder_plus {
  background-position: -236px -661px;
}
.glyphicon-icon.folder_minus {
  background-position: -284px -661px;
}
.glyphicon-icon.folder_lock {
  background-position: -332px -661px;
}
.glyphicon-icon.folder_flag {
  background-position: -380px -661px;
}
.glyphicon-icon.folder_new {
  background-position: -428px -661px;
}
.glyphicon-icon.edit {
  background-position: 4px -709px;
}
.glyphicon-icon.new_window {
  background-position: -44px -709px;
}
.glyphicon-icon.check {
  background-position: -92px -709px;
}
.glyphicon-icon.unchecked {
  background-position: -140px -709px;
}
.glyphicon-icon.more_windows {
  background-position: -188px -709px;
}
.glyphicon-icon.show_big_thumbnails {
  background-position: -236px -709px;
}
.glyphicon-icon.show_thumbnails {
  background-position: -284px -709px;
}
.glyphicon-icon.show_thumbnails_with_lines {
  background-position: -332px -709px;
}
.glyphicon-icon.show_lines {
  background-position: -380px -709px;
}
.glyphicon-icon.playlist {
  background-position: -428px -709px;
}
.glyphicon-icon.imac {
  background-position: 4px -757px;
}
.glyphicon-icon.macbook {
  background-position: -44px -757px;
}
.glyphicon-icon.ipad {
  background-position: -92px -757px;
}
.glyphicon-icon.iphone {
  background-position: -140px -757px;
}
.glyphicon-icon.iphone_transfer {
  background-position: -188px -757px;
}
.glyphicon-icon.iphone_exchange {
  background-position: -236px -757px;
}
.glyphicon-icon.ipod {
  background-position: -284px -757px;
}
.glyphicon-icon.ipod_shuffle {
  background-position: -332px -757px;
}
.glyphicon-icon.ear_plugs {
  background-position: -380px -757px;
}
.glyphicon-icon.phone {
  background-position: -428px -757px;
}
.glyphicon-icon.step_backward {
  background-position: 4px -805px;
}
.glyphicon-icon.fast_backward {
  background-position: -44px -805px;
}
.glyphicon-icon.rewind {
  background-position: -92px -805px;
}
.glyphicon-icon.play {
  background-position: -140px -805px;
}
.glyphicon-icon.pause {
  background-position: -188px -805px;
}
.glyphicon-icon.stop {
  background-position: -236px -805px;
}
.glyphicon-icon.forward {
  background-position: -284px -805px;
}
.glyphicon-icon.fast_forward {
  background-position: -332px -805px;
}
.glyphicon-icon.step_forward {
  background-position: -380px -805px;
}
.glyphicon-icon.eject {
  background-position: -428px -805px;
}
.glyphicon-icon.facetime_video {
  background-position: 4px -853px;
}
.glyphicon-icon.download_alt {
  background-position: -44px -853px;
}
.glyphicon-icon.mute {
  background-position: -92px -853px;
}
.glyphicon-icon.volume_down {
  background-position: -140px -853px;
}
.glyphicon-icon.volume_up {
  background-position: -188px -853px;
}
.glyphicon-icon.screenshot {
  background-position: -236px -853px;
}
.glyphicon-icon.move {
  background-position: -284px -853px;
}
.glyphicon-icon.more {
  background-position: -332px -853px;
}
.glyphicon-icon.brightness_reduce {
  background-position: -380px -853px;
}
.glyphicon-icon.brightness_increase {
  background-position: -428px -853px;
}
.glyphicon-icon.circle_plus {
  background-position: 4px -901px;
}
.glyphicon-icon.circle_minus {
  background-position: -44px -901px;
}
.glyphicon-icon.circle_remove {
  background-position: -92px -901px;
}
.glyphicon-icon.circle_ok {
  background-position: -140px -901px;
}
.glyphicon-icon.circle_question_mark {
  background-position: -188px -901px;
}
.glyphicon-icon.circle_info {
  background-position: -236px -901px;
}
.glyphicon-icon.circle_exclamation_mark {
  background-position: -284px -901px;
}
.glyphicon-icon.remove {
  background-position: -332px -901px;
}
.glyphicon-icon.ok {
  background-position: -380px -901px;
}
.glyphicon-icon.ban {
  background-position: -428px -901px;
}
.glyphicon-icon.download {
  background-position: 4px -949px;
}
.glyphicon-icon.upload {
  background-position: -44px -949px;
}
.glyphicon-icon.shopping_cart {
  background-position: -92px -949px;
}
.glyphicon-icon.lock {
  background-position: -140px -949px;
}
.glyphicon-icon.unlock {
  background-position: -188px -949px;
}
.glyphicon-icon.electricity {
  background-position: -236px -949px;
}
.glyphicon-icon.ok_2 {
  background-position: -284px -949px;
}
.glyphicon-icon.remove_2 {
  background-position: -332px -949px;
}
.glyphicon-icon.cart_out {
  background-position: -380px -949px;
}
.glyphicon-icon.cart_in {
  background-position: -428px -949px;
}
.glyphicon-icon.left_arrow {
  background-position: 4px -997px;
}
.glyphicon-icon.right_arrow {
  background-position: -44px -997px;
}
.glyphicon-icon.down_arrow {
  background-position: -92px -997px;
}
.glyphicon-icon.up_arrow {
  background-position: -140px -997px;
}
.glyphicon-icon.resize_small {
  background-position: -188px -997px;
}
.glyphicon-icon.resize_full {
  background-position: -236px -997px;
}
.glyphicon-icon.circle_arrow_left {
  background-position: -284px -997px;
}
.glyphicon-icon.circle_arrow_right {
  background-position: -332px -997px;
}
.glyphicon-icon.circle_arrow_top {
  background-position: -380px -997px;
}
.glyphicon-icon.circle_arrow_down {
  background-position: -428px -997px;
}
.glyphicon-icon.play_button {
  background-position: 4px -1045px;
}
.glyphicon-icon.unshare {
  background-position: -44px -1045px;
}
.glyphicon-icon.share {
  background-position: -92px -1045px;
}
.glyphicon-icon.chevron-right {
  background-position: -140px -1045px;
}
.glyphicon-icon.chevron-left {
  background-position: -188px -1045px;
}
.glyphicon-icon.bluetooth {
  background-position: -236px -1045px;
}
.glyphicon-icon.euro {
  background-position: -284px -1045px;
}
.glyphicon-icon.usd {
  background-position: -332px -1045px;
}
.glyphicon-icon.gbp {
  background-position: -380px -1045px;
}
.glyphicon-icon.retweet_2 {
  background-position: -428px -1045px;
}
.glyphicon-icon.moon {
  background-position: 4px -1093px;
}
.glyphicon-icon.sun {
  background-position: -44px -1093px;
}
.glyphicon-icon.cloud {
  background-position: -92px -1093px;
}
.glyphicon-icon.direction {
  background-position: -140px -1093px;
}
.glyphicon-icon.brush {
  background-position: -188px -1093px;
}
.glyphicon-icon.pen {
  background-position: -236px -1093px;
}
.glyphicon-icon.zoom_in {
  background-position: -284px -1093px;
}
.glyphicon-icon.zoom_out {
  background-position: -332px -1093px;
}
.glyphicon-icon.pin {
  background-position: -380px -1093px;
}
.glyphicon-icon.albums {
  background-position: -428px -1093px;
}
.glyphicon-icon.rotation_lock {
  background-position: 4px -1141px;
}
.glyphicon-icon.flash {
  background-position: -44px -1141px;
}
.glyphicon-icon.google_maps {
  background-position: -92px -1141px;
}
.glyphicon-icon.anchor {
  background-position: -140px -1141px;
}
.glyphicon-icon.conversation {
  background-position: -188px -1141px;
}
.glyphicon-icon.chat {
  background-position: -236px -1141px;
}
.glyphicon-icon.male {
  background-position: -284px -1141px;
}
.glyphicon-icon.female {
  background-position: -332px -1141px;
}
.glyphicon-icon.asterisk {
  background-position: -380px -1141px;
}
.glyphicon-icon.divide {
  background-position: -428px -1141px;
}
.glyphicon-icon.snorkel_diving {
  background-position: 4px -1189px;
}
.glyphicon-icon.scuba_diving {
  background-position: -44px -1189px;
}
.glyphicon-icon.oxygen_bottle {
  background-position: -92px -1189px;
}
.glyphicon-icon.fins {
  background-position: -140px -1189px;
}
.glyphicon-icon.fishes {
  background-position: -188px -1189px;
}
.glyphicon-icon.boat {
  background-position: -236px -1189px;
}
.glyphicon-icon.delete {
  background-position: -284px -1189px;
}
.glyphicon-icon.sheriffs_star {
  background-position: -332px -1189px;
}
.glyphicon-icon.qrcode {
  background-position: -380px -1189px;
}
.glyphicon-icon.barcode {
  background-position: -428px -1189px;
}
.glyphicon-icon.pool {
  background-position: 4px -1237px;
}
.glyphicon-icon.buoy {
  background-position: -44px -1237px;
}
.glyphicon-icon.spade {
  background-position: -92px -1237px;
}
.glyphicon-icon.bank {
  background-position: -140px -1237px;
}
.glyphicon-icon.vcard {
  background-position: -188px -1237px;
}
.glyphicon-icon.electrical_plug {
  background-position: -236px -1237px;
}
.glyphicon-icon.flag {
  background-position: -284px -1237px;
}
.glyphicon-icon.credit_card {
  background-position: -332px -1237px;
}
.glyphicon-icon.keyboard-wireless {
  background-position: -380px -1237px;
}
.glyphicon-icon.keyboard-wired {
  background-position: -428px -1237px;
}
.glyphicon-icon.shield {
  background-position: 4px -1285px;
}
.glyphicon-icon.ring {
  background-position: -44px -1285px;
}
.glyphicon-icon.cake {
  background-position: -92px -1285px;
}
.glyphicon-icon.drink {
  background-position: -140px -1285px;
}
.glyphicon-icon.beer {
  background-position: -188px -1285px;
}
.glyphicon-icon.fast_food {
  background-position: -236px -1285px;
}
.glyphicon-icon.cutlery {
  background-position: -284px -1285px;
}
.glyphicon-icon.pizza {
  background-position: -332px -1285px;
}
.glyphicon-icon.birthday_cake {
  background-position: -380px -1285px;
}
.glyphicon-icon.tablet {
  background-position: -428px -1285px;
}
.glyphicon-icon.settings {
  background-position: 4px -1333px;
}
.glyphicon-icon.bullets {
  background-position: -44px -1333px;
}
.glyphicon-icon.cardio {
  background-position: -92px -1333px;
}
.glyphicon-icon.t-shirt {
  background-position: -140px -1333px;
}
.glyphicon-icon.pants {
  background-position: -188px -1333px;
}
.glyphicon-icon.sweater {
  background-position: -236px -1333px;
}
.glyphicon-icon.fabric {
  background-position: -284px -1333px;
}
.glyphicon-icon.leather {
  background-position: -332px -1333px;
}
.glyphicon-icon.scissors {
  background-position: -380px -1333px;
}
.glyphicon-icon.bomb {
  background-position: -428px -1333px;
}
.glyphicon-icon.skull {
  background-position: 4px -1381px;
}
.glyphicon-icon.celebration {
  background-position: -44px -1381px;
}
.glyphicon-icon.tea_kettle {
  background-position: -92px -1381px;
}
.glyphicon-icon.french_press {
  background-position: -140px -1381px;
}
.glyphicon-icon.coffe_cup {
  background-position: -188px -1381px;
}
.glyphicon-icon.pot {
  background-position: -236px -1381px;
}
.glyphicon-icon.grater {
  background-position: -284px -1381px;
}
.glyphicon-icon.kettle {
  background-position: -332px -1381px;
}
.glyphicon-icon.hospital {
  background-position: -380px -1381px;
}
.glyphicon-icon.hospital_h {
  background-position: -428px -1381px;
}
.glyphicon-icon.microphone {
  background-position: 4px -1429px;
}
.glyphicon-icon.webcam {
  background-position: -44px -1429px;
}
.glyphicon-icon.temple_christianity_church {
  background-position: -92px -1429px;
}
.glyphicon-icon.temple_islam {
  background-position: -140px -1429px;
}
.glyphicon-icon.temple_hindu {
  background-position: -188px -1429px;
}
.glyphicon-icon.temple_buddhist {
  background-position: -236px -1429px;
}
.glyphicon-icon.bicycle {
  background-position: -284px -1429px;
}
.glyphicon-icon.life_preserver {
  background-position: -332px -1429px;
}
.glyphicon-icon.share_alt {
  background-position: -380px -1429px;
}
.glyphicon-icon.comments {
  background-position: -428px -1429px;
}
.glyphicon-icon.flower {
  background-position: 4px -1477px;
}
.glyphicon-icon.baseball {
  background-position: -44px -1477px;
}
.glyphicon-icon.rugby {
  background-position: -92px -1477px;
}
.glyphicon-icon.ax {
  background-position: -140px -1477px;
}
.glyphicon-icon.table_tennis {
  background-position: -188px -1477px;
}
.glyphicon-icon.bowling {
  background-position: -236px -1477px;
}
.glyphicon-icon.tree_conifer {
  background-position: -284px -1477px;
}
.glyphicon-icon.tree_deciduous {
  background-position: -332px -1477px;
}
.glyphicon-icon.more_items {
  background-position: -380px -1477px;
}
.glyphicon-icon.sort {
  background-position: -428px -1477px;
}
.glyphicon-icon.filter {
  background-position: 4px -1525px;
}
.glyphicon-icon.gamepad {
  background-position: -44px -1525px;
}
.glyphicon-icon.playing_dices {
  background-position: -92px -1525px;
}
.glyphicon-icon.calculator {
  background-position: -140px -1525px;
}
.glyphicon-icon.tie {
  background-position: -188px -1525px;
}
.glyphicon-icon.wallet {
  background-position: -236px -1525px;
}
.glyphicon-icon.piano {
  background-position: -284px -1525px;
}
.glyphicon-icon.sampler {
  background-position: -332px -1525px;
}
.glyphicon-icon.podium {
  background-position: -380px -1525px;
}
.glyphicon-icon.soccer_ball {
  background-position: -428px -1525px;
}
.glyphicon-icon.blog {
  background-position: 4px -1573px;
}
.glyphicon-icon.dashboard {
  background-position: -44px -1573px;
}
.glyphicon-icon.certificate {
  background-position: -92px -1573px;
}
.glyphicon-icon.bell {
  background-position: -140px -1573px;
}
.glyphicon-icon.candle {
  background-position: -188px -1573px;
}
.glyphicon-icon.pushpin {
  background-position: -236px -1573px;
}
.glyphicon-icon.iphone_shake {
  background-position: -284px -1573px;
}
.glyphicon-icon.pin_flag {
  background-position: -332px -1573px;
}
.glyphicon-icon.turtle {
  background-position: -380px -1573px;
}
.glyphicon-icon.rabbit {
  background-position: -428px -1573px;
}
.glyphicon-icon.globe {
  background-position: 4px -1621px;
}
.glyphicon-icon.briefcase {
  background-position: -44px -1621px;
}
.glyphicon-icon.hdd {
  background-position: -92px -1621px;
}
.glyphicon-icon.thumbs_up {
  background-position: -140px -1621px;
}
.glyphicon-icon.thumbs_down {
  background-position: -188px -1621px;
}
.glyphicon-icon.hand_right {
  background-position: -236px -1621px;
}
.glyphicon-icon.hand_left {
  background-position: -284px -1621px;
}
.glyphicon-icon.hand_up {
  background-position: -332px -1621px;
}
.glyphicon-icon.hand_down {
  background-position: -380px -1621px;
}
.glyphicon-icon.fullscreen {
  background-position: -428px -1621px;
}
.glyphicon-icon.shopping_bag {
  background-position: 4px -1669px;
}
.glyphicon-icon.book_open {
  background-position: -44px -1669px;
}
.glyphicon-icon.nameplate {
  background-position: -92px -1669px;
}
.glyphicon-icon.nameplate_alt {
  background-position: -140px -1669px;
}
.glyphicon-icon.vases {
  background-position: -188px -1669px;
}
.glyphicon-icon.bullhorn {
  background-position: -236px -1669px;
}
.glyphicon-icon.dumbbell {
  background-position: -284px -1669px;
}
.glyphicon-icon.suitcase {
  background-position: -332px -1669px;
}
.glyphicon-icon.file_import {
  background-position: -380px -1669px;
}
.glyphicon-icon.file_export {
  background-position: -428px -1669px;
}
.glyphicon-icon.bug {
  background-position: 4px -1717px;
}
.glyphicon-icon.crown {
  background-position: -44px -1717px;
}
.glyphicon-icon.smoking {
  background-position: -92px -1717px;
}
.glyphicon-icon.cloud-upload {
  background-position: -140px -1717px;
}
.glyphicon-icon.cloud-download {
  background-position: -188px -1717px;
}
.glyphicon-icon.restart {
  background-position: -236px -1717px;
}
.glyphicon-icon.security_camera {
  background-position: -284px -1717px;
}
.glyphicon-icon.expand {
  background-position: -332px -1717px;
}
.glyphicon-icon.collapse {
  background-position: -380px -1717px;
}
.glyphicon-icon.collapse_top {
  background-position: -428px -1717px;
}
.glyphicon-icon.globe_af {
  background-position: 4px -1765px;
}
.glyphicon-icon.global {
  background-position: -44px -1765px;
}
.glyphicon-icon.spray {
  background-position: -92px -1765px;
}
.glyphicon-icon.nails {
  background-position: -140px -1765px;
}
.glyphicon-icon.claw_hammer {
  background-position: -188px -1765px;
}
.glyphicon-icon.classic_hammer {
  background-position: -236px -1765px;
}
.glyphicon-icon.hand_saw {
  background-position: -284px -1765px;
}
.glyphicon-icon.riflescope {
  background-position: -332px -1765px;
}
.glyphicon-icon.electrical_socket_eu {
  background-position: -380px -1765px;
}
.glyphicon-icon.electrical_socket_us {
  background-position: -428px -1765px;
}
.glyphicon-icon.pinterest {
  background-position: 4px -1813px;
}
.glyphicon-icon.dropbox {
  background-position: -44px -1813px;
}
.glyphicon-icon.google_plus {
  background-position: -92px -1813px;
}
.glyphicon-icon.jolicloud {
  background-position: -140px -1813px;
}
.glyphicon-icon.yahoo {
  background-position: -188px -1813px;
}
.glyphicon-icon.blogger {
  background-position: -236px -1813px;
}
.glyphicon-icon.picasa {
  background-position: -284px -1813px;
}
.glyphicon-icon.amazon {
  background-position: -332px -1813px;
}
.glyphicon-icon.tumblr {
  background-position: -380px -1813px;
}
.glyphicon-icon.wordpress {
  background-position: -428px -1813px;
}
.glyphicon-icon.instapaper {
  background-position: 4px -1861px;
}
.glyphicon-icon.evernote {
  background-position: -44px -1861px;
}
.glyphicon-icon.xing {
  background-position: -92px -1861px;
}
.glyphicon-icon.zootool {
  background-position: -140px -1861px;
}
.glyphicon-icon.dribbble {
  background-position: -188px -1861px;
}
.glyphicon-icon.deviantart {
  background-position: -236px -1861px;
}
.glyphicon-icon.read_it_later {
  background-position: -284px -1861px;
}
.glyphicon-icon.linked_in {
  background-position: -332px -1861px;
}
.glyphicon-icon.forrst {
  background-position: -380px -1861px;
}
.glyphicon-icon.pinboard {
  background-position: -428px -1861px;
}
.glyphicon-icon.behance {
  background-position: 4px -1909px;
}
.glyphicon-icon.github {
  background-position: -44px -1909px;
}
.glyphicon-icon.youtube {
  background-position: -92px -1909px;
}
.glyphicon-icon.skitch {
  background-position: -140px -1909px;
}
.glyphicon-icon.foursquare {
  background-position: -188px -1909px;
}
.glyphicon-icon.quora {
  background-position: -236px -1909px;
}
.glyphicon-icon.badoo {
  background-position: -284px -1909px;
}
.glyphicon-icon.spotify {
  background-position: -332px -1909px;
}
.glyphicon-icon.stumbleupon {
  background-position: -380px -1909px;
}
.glyphicon-icon.readability {
  background-position: -428px -1909px;
}
.glyphicon-icon.facebook {
  background-position: 4px -1957px;
}
.glyphicon-icon.twitter {
  background-position: -44px -1957px;
}
.glyphicon-icon.instagram {
  background-position: -92px -1957px;
}
.glyphicon-icon.posterous_spaces {
  background-position: -140px -1957px;
}
.glyphicon-icon.vimeo {
  background-position: -188px -1957px;
}
.glyphicon-icon.flickr {
  background-position: -236px -1957px;
}
.glyphicon-icon.last_fm {
  background-position: -284px -1957px;
}
.glyphicon-icon.rss {
  background-position: -332px -1957px;
}
.glyphicon-icon.skype {
  background-position: -380px -1957px;
}
.glyphicon-icon.e-mail {
  background-position: -428px -1957px;
}

/* Localized */
