<style type="text/css">

.qs-list {
}
.qs-list .item {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.qs-list .item p {
	display: inline-block;		
}

.qs-list .item .time {
	text-align: right;
	font-size: 110%;
	font-weight: 600;
	color: #222;
}

.progress {
  background: #ebedef;
  border-radius: 32px;
  height: 12px;
  box-shadow: none;
}

.progress .bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0e90d2;	
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);	
}
.progress .bar {
  background: #1abc9c;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}

</style>

<div class="qs-box">
	<h4 class="qs-box-title">Activities</h4>
	<div class="qs-box-content qs-list">
		<div class="item">
			<p class="maki-icon industrial"></p>
			<p class="time" style="color:#ee2705">8h 45m</p>
		</div>
		<div class="item">
			<p class="maki-icon building"></p>	
			<p class="time" style="color:#eb5b1f">8h 10m</p>
		</div> 
		<div class="item">
			<p class="maki-icon bus"></p>	
			<p class="time" style="color:#f6c94e">2 h 10m</p>
		</div> 
		<div class="item">
			<p class="maki-icon pitch"></p>
			<p class="time" style="color:#8ac726">0 h 55m</p>
		</div>	
		<div class="item">
			<p class="maki-icon grocery"></p>
		</div>
		<div class="item">
			<p class="maki-icon cafe"></p>
		</div>
		
		<div class="item">
			<p class="maki-icon tennis"></p>
		</div>				
	</div>
</div> 