<style type="text/css">

.qs-list {
}
.qs-list .item {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.qs-list .item p {
	display: inline-block;		
}

.qs-list .item .time {
	text-align: right;
	font-size: 110%;
	font-weight: 600;
	color: #222;
}

</style>

<div class="qs-box">
	<h4 class="qs-box-title">Activities</h4>
	<div class="qs-box-content qs-list">
		<div class="item">

			<p class="maki-icon industrial"></p>
			<p class="time" style="color:#ee2705">8h 45m</p>

			<div class="progress">
  				<div class="bar" style="width: 60%;"></div>
			</div>
		</div>
		<div class="item">
			<p class="maki-icon building"></p>	
			<p class="time" style="color:#eb5b1f">8h 10m</p>
		</div> 
		<div class="item">
			<p class="maki-icon bus"></p>	
			<p class="time" style="color:#f6c94e">2 h 10m</p>
		</div> 
		<div class="item">
			<p class="maki-icon pitch"></p>
			<p class="time" style="color:#8ac726">0 h 55m</p>
		</div>	
		<div class="item">
			<p class="maki-icon grocery"></p>
			<p class="time" style="color:#8ac726">0h 30m</p>
		</div>
<!-- 		<div class="item">
			<p class="maki-icon cafe"></p>
		</div>
		
		<div class="item">
			<p class="maki-icon tennis"></p>
		</div>	 -->			
	</div>
</div> 