<div class="qs-box pure-g">
	<div class="pure-u-1-2">		    			
		<h4 class="qs-box-title">Activity</h4>
	</div>

	<div class="pure-u-1-2 qs-box-controls" id="qs-box-activity">
		<a class="ui-selected" href="#">Steps</a>
		<a class="" href="#">Floors</a>
		<a class="" href="#">Calories</a>
	</div>	
</div> 
