<div class="qs-box" id="qs-calories"> 
	<h4 class="qs-box-title">Calories burned <span>(cal)</span></h4>		    			
	<div class="qs-box-content qs-meter">
	<input type="text" class="dial" 
		data-min="0" data-max="100"
		data-width="160" data-height="160"
		data-linecap=round data-angleArc=250 data-angleOffset=-125
		data-thickness=".2"
		data-cursor=false  
		data-fgColor="#ef6520"
		value="75">
	<span class="meter-unit"></span>
	
	<span class="glyphicons fire meter-icon"><i></i></span>
	<span class="meter-value">15,832</span>
	<span class="meter-desc">Goal met!</span>
	</div>
</div>
