<div class="qs-box" id="qs-distance"> 
	<h4 class="qs-box-title">Distance <span>(kilometers)</span></h4>	
	<div class="qs-box-content qs-meter">
	<input type="text" class="dial" 
		data-min="0" data-max="100"
		data-width="160" data-height="160"
		data-linecap=round data-angleArc=250 data-angleOffset=-125
		data-thickness=".2"
		data-cursor=false>

	<span class="meter-icon"><i class="glyphicon-rabbit"></i></span>		
	<span class="meter-value">25.1</span>
	<span class="meter-desc">of 90 km goal</span>
	</div>
</div>

<script type="text/javascript">
$( function(){
	animateKnob('#qs-distance', 0, 35, "#66CC66");
});
</script>