<div class="qs-box" id="qs-life-balance"> 
	<h4 class="qs-box-title">Active vs Sedentary</h4>		    			
	<div class="qs-box-content qs-meter">
	<input type="text" class="dial" 
		data-min="0" data-max="100"
		data-width="135" data-height="135"
		data-thickness=".25"		
		data-fgColor="#3db2b3"
		data-cursor=false
		data-angleOffset=90
		data-linecap=round
		value="65">

	<span class="meter-unit"></span>
	<span class="meter-value"></span>
	<span class="meter-desc">Keep on moving!</span>
	</div>
</div>
