<style type="text/css">
#qs-activities-breakedown .qs-box-title {
	/*margin-bottom: 0.2em;*/
}
.qs-item {
	padding: 0.1em;
	border-top: 1px dotted #ddd;
	/*border: 1px dotted;*/
}
.qs-item-icon {
	position: relative;
	top: 0.50em;
	left: 0.50em;
	width: 40px;
	height: 30px;
	margin: 0;
}
.qs-item-icon * {
	position: absolute;
	color: #343434;
	height: 24px;
	width: 24px;
}
.qs-item-title,
.qs-item-desc {
	font-size: 80%;
	font-weight: 600;
}
.qs-item-title {
	text-align: left;
}
.qs-item-desc {
	text-align: right;
}

</style>

<div class="qs-box" id="qs-activities-breakedown">
	<h4 class="qs-box-title">Your Online Services</h4>

	<div class="qs-box-content-full" id="list">
		<div class="pure-g qs-item">
			<div class="pure-u qs-item-icon">
				<i class="icon-facebook-sign icon-2x" style="color:#354c8b"></i>
			</div>
			<div class="pure-u-3-4">
				<div class="pure-g">
					<div class="pure-u-1-2 qs-item-title">Facebook</div>
					<div class="pure-u-1-2 qs-item-desc"
						style="color: #fd2905">1h 15 min</div>
				</div>
				<div class="pure-g">
				<div class="progress">
	  				<div class="bar bar-danger" style="width: 90%;"></div>
				</div>				
				 
				</div>
			</div>
		</div>


		<div class="pure-g qs-item">
			<div class="qs-item-icon pure-u">
				<i class="icon-youtube-play icon-2x" style="color:#be0017"></i>
			</div>
			<div class="pure-u-3-4">
				<div class="pure-g">
					<div class="pure-u-1-2 qs-item-title">YouTube</div>
					<div class="pure-u-1-2 qs-item-desc"
						style="color: #f6ae33">45 min</div>
				</div>
				<div class="pure-g">
					<div class="progress">
	  				<div class="bar bar-warning" style="width: 50%;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="pure-g qs-item">
			<div class="qs-item-icon pure-u">
				<i class="icon-skype icon-2x" style="color:#3a9ff4"></i>
			</div>
			<div class="pure-u-3-4">
				<div class="pure-g">
					<div class="pure-u-1-2 qs-item-title">Skype</div>
					<div class="pure-u-1-2 qs-item-desc" 
						style="color:#8ac726">25 min</div>
				</div>
				<div class="pure-g">
					<div class="progress">
	  				<div class="bar bar-success" style="width: 25%;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="pure-g qs-item">
			<div class="qs-item-icon pure-u">
				<i class="icon-linkedin-sign icon-2x" style="color:#296eae"></i>
			</div>
			<div class="pure-u-3-4">
				<div class="pure-g">
					<div class="pure-u-1-2 qs-item-title">LinkedIn</div>
					<div class="pure-u-1-2 qs-item-desc" 
						style="color:#8ac726">15m</div>
				</div>
				<div class="pure-g">
					<div class="progress">
	  				<div class="bar bar-success" style="width: 15%;"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div> 