<style type="text/css">
#qs-activities-breakedown .qs-box-title {
	/*margin-bottom: 0.2em;*/
}
.qs-item {
	padding: 0.1em 0.5em;

	/*border-top: 1px dotted #ddd;*/
	/*border: 1px dotted;*/
}
.qs-item-icon {
	position: relative;
	top: 0.50em;
	left: 0.50em;
	width: 40px;
	height: 30px;
	margin-right: 5px;
}
.qs-item-icon * {
	position: absolute;
	color: #17906c;
	height: 24px;
	width: 24px;
}
.qs-item-title,
.qs-item-desc {
	font-size: 80%;
	font-weight: 600;
}
.qs-item-title {
	text-align: left;
}
.qs-item-desc {
	text-align: right;
	color: #555;
}

</style>

<div class="qs-box" id="qs-activities-breakedown">
	<h4 class="qs-box-title">Your Online Services</h4>

	<div class="qs-box-content-full" id="list">
		<div class="pure-g qs-item">
			<div class="pure-u qs-item-icon">
				<i class="icon-facebook-sign icon-2x"></i>
			</div>
			<div class="pure-u-3-4">
				<div class="pure-g">
					<div class="pure-u-1-2 qs-item-title">Facebook</div>
					<div class="pure-u-1-2 qs-item-desc"
						>1h 15 min</div>
				</div>
				<div class="pure-g">
				<div class="progress">
	  				<div class="bar bar-flatui" style="width: 90%;"></div>
				</div>				
				 
				</div>
			</div>
		</div>


		<div class="pure-g qs-item">
			<div class="qs-item-icon pure-u">
				<i class="icon-youtube-play icon-2x"></i>
			</div>
			<div class="pure-u-3-4">
				<div class="pure-g">
					<div class="pure-u-1-2 qs-item-title">YouTube</div>
					<div class="pure-u-1-2 qs-item-desc"
						>45 min</div>
				</div>
				<div class="pure-g">
					<div class="progress">
	  				<div class="bar bar-flatui" style="width: 50%;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="pure-g qs-item">
			<div class="qs-item-icon pure-u">
				<i class="icon-skype icon-2x"></i>
			</div>
			<div class="pure-u-3-4">
				<div class="pure-g">
					<div class="pure-u-1-2 qs-item-title">Skype</div>
					<div class="pure-u-1-2 qs-item-desc" 
						>25 min</div>
				</div>
				<div class="pure-g">
					<div class="progress">
	  				<div class="bar bar-flatui" style="width: 25%;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="pure-g qs-item">
			<div class="qs-item-icon pure-u">
				<i class="icon-linkedin-sign icon-2x"></i>
			</div>
			<div class="pure-u-3-4">
				<div class="pure-g">
					<div class="pure-u-1-2 qs-item-title">LinkedIn</div>
					<div class="pure-u-1-2 qs-item-desc" 
						>15m</div>
				</div>
				<div class="pure-g">
					<div class="progress">
	  				<div class="bar bar-flatui" style="width: 15%;"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div> 