<style type="text/css">
.qs-item {
	text-align: left;
	margin-bottom: 2em;
}

.recommendation-icon {}
.recommendation-text {
	font-size: 11px;
	font-weight: 300;
	text-align:justify;
}
.recommendation-text a {color: #2FABE9;}

</style>

<div class="qs-box" id="qs-user-profile">
	<div class="pure-g">
		<div class="pure-u-1-2">		    			
			<h4 class="qs-box-title">Recommendations</h4>
		</div>
	</div>
	
	<div class="qs-box-content">
		<div class="qs-item recommendation-text">
			You spend <b>30% more time</b> at <b>work</b> than average person in your age.
		</div>		
		<div class="qs-item recommendation-text">
			You spent over <b>44 hours</b> in <b>public transportation</b> last month - check <a href="http://sbb.com">here</a> if you can be more efficient.
		</div>			
		<div class="qs-item recommendation-text">
			Did you know you take <b>the most crowded train</b> to Geneva? Try one 30 minutes earlier on friday evening – you will enjoy it much more!
		</div>		
		<div class="qs-item recommendation-text">
		<b>10 hours</b> a month <b>browsing</b> <a href="http://www.linkedin.com/">LinkedIn</a>, <b>8 hours</b> a month on <a href="http://techcrunch.com/">TechCrunch</a>, you've been <b>on-line 18 evenings</b> this month!
		</div>		
	</div>
</div>