<style type="text/css">
/*#qs-recommendations .qs-box-title {margin-bottom: 0.5em}*/

#qs-recommendations-popup {
	position: absolute;
	top:10px;
	right:5px;
	z-index:100;
}

#rec-list {
	width: 350px;
	height: 160px;
	overflow: auto;
}

.rec-item, .rec-item-active {
	opacity: 0.6;
	border: 1px solid rgba(24, 183, 105, 1);
	/*border: 1px solid #ccc;*/
	background: rgba(240, 242, 244, 1);
	color: rgba(51, 51, 51, 1);
	
	padding: 0.1em 1em;		
	border-radius: 5px;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 0.4em;

	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	display: none;

}
.rec-item-active {
	opacity: 0.95;
	/*border: 1px solid rgba(24, 183, 105, 1);
	background: rgba(250, 250, 250, 1); 
	color: rgba(51, 51, 51, 1);*/
	/*box-shadow: 0 5px 5px rgba(0,0,0,0.1);*/
	display: block;
}

.rec-icon {
	position: relative;		
	/*border-radius: 5px;*/
	width: 30px;
	height: 50px;
	/*background: #e1295a;*/
	margin-right: 1em;
}
.rec-icon p {
	position: absolute;
	margin: 0;
	top:50%;
	left:50%;
	margin-top: -12px;
	margin-left: -12px;

	height: 24px;
	width: 24px;

}
.rec-desc {
	font-size: 11px;
	text-shadow: 1px 1px 1px rgba(255,255,255, .5); 
	text-align: justify;
	margin: 0.4em 0;
}
.rec-desc a {
	color: #2FABE9; 
	text-decoration: none; 
	border-bottom: 1px dotted;
}

</style>

<script type="text/javascript">
function listTick() {
	// $('#rec-list .rec-item:eq(0)').slideDown( function() {
	// 	$('#rec-list .rec-item:eq(-1)').prependTo($('#rec-list'));
	// });
	

	$('#rec-list .rec-item:eq(-1)').prependTo($('#rec-list')).toggleClass('rec-item-active');
	$('#rec-list .rec-item:eq(0)').effect('slide', {'duration': 200,'direction': 'right'}, 
		function () {
			$(this).toggleClass('rec-item-active', 10000);
		}
	);

	// $('#rec-list .rec-item:eq(0)').slideUp( function(){
	// 	$(this).appendTo($('#rec-list'))
	// });
}
setInterval(function() { listTick() }, 15000);

</script>

<div class="pure-g" id="qs-recommendations-popup">
	
	<div class="pure-u-1" id="rec-list">
		<div class="rec-item pure-g">
			<div class="pure-u rec-icon">
				<p class="maki-icon bus"></p>	
			</div>
			<div class="pure-u-5-6">
				<p class="rec-desc">
					You spent over <b>44 hours</b> in <b>public transportation</b> last month - check <a href="http://sbb.com">here</a> if you can be more efficient.
				</p>				
			</div>
		</div>

		<div class="rec-item pure-g">
			<div class="pure-u rec-icon">
				<p class="maki-icon industrial"></p>	
			</div>
			<div class="pure-u-5-6">
				<p class="rec-desc">
					You spend <b>30% more time</b> at <b>work</b> than average person in your age.	
				</p>				
			</div>
		</div>

		<div class="rec-item pure-g">
			<div class="pure-u rec-icon">
				<p class="maki-icon rail"></p>	
			</div>
			<div class="pure-u-5-6">
				<p class="rec-desc">
			Did you know you take <b>the most crowded train</b> to Geneva? Try one 30 minutes earlier on friday evening.
			 <!-- – you will enjoy it much more! -->
				</p>				
			</div>
		</div>

		<div class="rec-item pure-g">
			<div class="pure-u rec-icon">
				<p class="maki-icon pitch"></p>	
			</div>
			<div class="pure-u-5-6">
				<p class="rec-desc">
			<b>10 hours</b> a month <b>browsing</b> <a href="http://www.facebook.com/">Facebook</a>, <b>8 hours</b> a month on <a href="http://youtube.com/">YouTube</a>, you've been <b>on-line 18 evenings</b> this month!
				</p>				
			</div>
		</div>

	</div>
</div>